:root {
  --Primary-Text-Color: #fff;
  --Primary-color: #5531e5;
  --Light-Purple-Text-Color: #bfafff;
  --Done-Background-color: #2d1a7b;
  --Purple-Background-Fill: #16172a;
  --Background-color: #111111;
  --Todo-Background: #1c1c1c;
}

body {
  /* font-family: "Ek-Mukta", "Helvetica Neue", "Calibri"; */
  background-color: var(--Purple-Background-Fill);
  border-width: 2px;
  border-color: var(--Primary-color);
  display: flex;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.TaskContainer {
  width: 80%;
  height: 80vh;
  padding: 40px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.title-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.title-row input[type="text"] {
  width: 90%;
  background: transparent;
  border: none;
  font-size: 30px;
  color: var(--Primary-Text-Color);
}

.title-row input::placeholder {
  color: var(--Primary-Text-Color);
}

.title-row button {
  background: transparent;
  border: none;
}

.form-row1,
.form-row2,
.notes-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  gap: 10px;
}

.date input[type="date"],
select {
  width: 70%;
  background: transparent;
  border: solid 1px var(--Primary-color);
  height: 80%;
  color: var(--Primary-Text-Color);
}

.date,
.priority,
.status,
.category {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 45%;
}

.notes-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

textarea {
  width: 85%;
  background: transparent;
  border: solid 1px var(--Primary-color);
  color: var(--Primary-Text-Color);
}

textarea::placeholder {
  color: var(--Primary-Text-Color);
}

.add-button {
  display: flex;
  justify-content: flex-end;
}

button {
  background: var(--Primary-color);
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  height: 40px;
  color: var(--Primary-Text-Color);
}
